@import './grid';

$color-error: #BA2D0B;
$color-background: #D5F2E3;
$color-light: #73BA9B;
$color-dark: #003E1F;
$color-border: #01110A;

$color-1: #619cc0;
$color-2: #2137a8;
$color-3: #022371;
$color-4: #4e0481;
$color-5: #ab00ff;
